main {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
}

/* CLASSES */

:root {
    --portrait-width: 50vw;
    --portrait-height: calc(var(--portrait-width) * 1.3469);
}

.portrait-container-default {
    position: relative;
    width: var(--portrait-width);
    height: auto;
    margin: 0;
    display: block;
    align-self: center;
}

@media (min-width: 768px) {
    :root {
        --portrait-width: 35vw;
    }
}

@media (min-width: 1024px) {
    :root {
        --portrait-width: 25vw;
    }
}

@media (min-width: 1280px) {
    :root {
        --portrait-width: 25vw;
    }
}

@media (min-width: 1440px) {
    :root {
        --portrait-width: 20vw;
    }
}

@media (min-width: 1600px) {
    :root {
        --portrait-width: 20vw;
    }
}

@media (min-width: 1920px) {
    :root {
        --portrait-width: 20vw;
    }
}

.ignore-cursor {
    pointer-events: none;
}


/*


*/

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    /* Базовые размеры центрального элемента (можно менять) */
    --center-width: var(--portrait-width);
    --center-height: var(--portrait-height);

    /* Размеры боковых элементов пропорциональны центральному */
    --side-width: calc((100vw - var(--center-width)) / 2 - 2px);
    --side-height: calc((100vh - var(--center-height)) / 2 - 2px);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Позиционирование по периметру */
.ad-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--side-height);
}

.ad-left-center {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: var(--side-width);
    height: calc(var(--center-height));
}

.ad-right-center {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: var(--side-width);
    height: calc(var(--center-height));
}

.ad-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: var(--side-height);
}