:root {
    cursor: none !important;
    touch-action: none !important
}

* {
    cursor: none !important;
    touch-action: none !important
}

.cursor {
    display: block;
    position: fixed;
    width: 1.9rem;
    height: 1.9rem;
    transform: translate(-26.5%, -9%);
    will-change: transform; /* Для оптимизации анимации */
    user-select: none;
}
